<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kGameSceneSurvival</key>
	<dict>
		<key>BGM_INTRO</key>
		<string>Intro.m4a</string>
		<key>BGM_1</key>
		<string>Intensity1.m4a</string>
		<key>BGM_2</key>
		<string>Intensity2.m4a</string>
		<key>BGM_3</key>
		<string>Intensity3.m4a</string>
		<key>BGM_4</key>
		<string>Intensity4.m4a</string>
		<key>BGM_5</key>
		<string>Intensity5.m4a</string>
		<key>BGM_6</key>
		<string>Intensity6.m4a</string>
		<key>BGM_7</key>
		<string>Intensity7.m4a</string>
		<key>BGM_8</key>
		<string>Intensity8.m4a</string>
	</dict>
	<key>kGameSceneTimeAttack</key>
	<dict>
		<key>BGM_INTRO</key>
		<string>Intro.m4a</string>
		<key>BGM_1</key>
		<string>Intensity1.m4a</string>
		<key>BGM_2</key>
		<string>Intensity2.m4a</string>
		<key>BGM_3</key>
		<string>Intensity3.m4a</string>
		<key>BGM_4</key>
		<string>Intensity4.m4a</string>
		<key>BGM_5</key>
		<string>Intensity5.m4a</string>
		<key>BGM_6</key>
		<string>Intensity6.m4a</string>
		<key>BGM_7</key>
		<string>Intensity7.m4a</string>
		<key>BGM_8</key>
		<string>Intensity8.m4a</string>
	</dict>
	<key>kGameSceneMomMode</key>
	<dict>
		<key>BGM_INTRO</key>
		<string>Intro.m4a</string>
		<key>BGM_1</key>
		<string>Intensity1.m4a</string>
		<key>BGM_2</key>
		<string>Intensity2.m4a</string>
		<key>BGM_3</key>
		<string>Intensity3.m4a</string>
		<key>BGM_4</key>
		<string>Intensity4.m4a</string>
		<key>BGM_5</key>
		<string>Intensity5.m4a</string>
		<key>BGM_6</key>
		<string>Intensity6.m4a</string>
		<key>BGM_7</key>
		<string>Intensity7.m4a</string>
		<key>BGM_8</key>
		<string>Intensity8.m4a</string>
	</dict>
</dict>
</plist>
