<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kCreditsScene</key>
	<dict/>
	<key>kGameSceneSurvival</key>
	<dict>
		<key>PARTICLE_COLLIDE_1</key>
		<string>A2.caf</string>
		<key>PARTICLE_COLLIDE_2</key>
		<string>C3.caf</string>
		<key>PARTICLE_COLLIDE_3</key>
		<string>E3.caf</string>
		<key>PARTICLE_EXPLODE</key>
		<string>AM.caf</string>
		<key>GAME_OVER</key>
		<string>A2.caf</string>
	</dict>
	<key>kIntroScene</key>
	<dict/>
	<key>kMainMenuScene</key>
	<dict/>
	<key>kNoSceneUninitialized</key>
	<dict/>
	<key>kOptionsScene</key>
	<dict/>
	<key>kGameSceneTimeAttack</key>
	<dict>
		<key>PARTICLE_COLLIDE_1</key>
		<string>A2.caf</string>
		<key>PARTICLE_COLLIDE_2</key>
		<string>C3.caf</string>
		<key>PARTICLE_COLLIDE_3</key>
		<string>E3.caf</string>
		<key>PARTICLE_EXPLODE</key>
		<string>AM.caf</string>
		<key>GAME_OVER</key>
		<string>A2.caf</string>
	</dict>
	<key>kGameSceneMomMode</key>
	<dict>
		<key>PARTICLE_COLLIDE_1</key>
		<string>A2.caf</string>
		<key>PARTICLE_COLLIDE_2</key>
		<string>C3.caf</string>
		<key>PARTICLE_COLLIDE_3</key>
		<string>E3.caf</string>
		<key>PARTICLE_EXPLODE</key>
		<string>AM.caf</string>
		<key>GAME_OVER</key>
		<string>A2.caf</string>
	</dict>
</dict>
</plist>
