<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kCreditsScene</key>
	<dict/>
	<key>kGameScene</key>
	<dict>
		<key>PARTICLE_LAUNCH</key>
		<string>22k_enemy_phaser_fireV1.wav</string>
		<key>PARTICLE_COLLIDE</key>
		<string>22k_viking_hammer_hitV1.wav</string>
		<key>PARTICLE_EXPLODE</key>
		<string>22k_viking_hammer_hitv2.wav</string>
		<key>GAME_OVER</key>
		<string>22k_viking_hitV1.wav</string>
	</dict>
	<key>kIntroScene</key>
	<dict/>
	<key>kMainMenuScene</key>
	<dict/>
	<key>kNoSceneUninitialized</key>
	<dict/>
	<key>kOptionsScene</key>
	<dict/>
</dict>
</plist>
