<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kCreditsScene</key>
	<dict/>
	<key>kIntroScene</key>
	<dict/>
	<key>kMainMenuScene</key>
	<dict>
		<key>CLICK</key>
		<string>Click.caf</string>
	</dict>
	<key>kNoSceneUninitialized</key>
	<dict/>
	<key>kOptionsScene</key>
	<dict/>
	<key>kGameSceneMomMode</key>
	<dict>
		<key>CLICK</key>
		<string>Click.caf</string>
		<key>COLLIDE_1</key>
		<string>Collide1-2.caf</string>
		<key>COLLIDE_2</key>
		<string>Collide4-2.caf</string>
		<key>COLLIDE_3</key>
		<string>Collide5-2.caf</string>
		<key>COLLIDE_4</key>
		<string>Collide1-3.caf</string>
		<key>EXPLODE_1</key>
		<string>Explode1.caf</string>
		<key>EXPLODE_2</key>
		<string>Explode2.caf</string>
		<key>EXPLODE_3</key>
		<string>Explode3.caf</string>
	</dict>
	<key>kGameSceneSurvival</key>
	<dict>
		<key>CLICK</key>
		<string>Click.caf</string>
		<key>COLLIDE_1</key>
		<string>Collide1-2.caf</string>
		<key>COLLIDE_2</key>
		<string>Collide4-2.caf</string>
		<key>COLLIDE_3</key>
		<string>Collide5-2.caf</string>
		<key>COLLIDE_4</key>
		<string>Collide1-3.caf</string>
		<key>EXPLODE_1</key>
		<string>Explode1.caf</string>
		<key>EXPLODE_2</key>
		<string>Explode2.caf</string>
		<key>EXPLODE_3</key>
		<string>Explode3.caf</string>
	</dict>
	<key>kGameSceneTimeAttack</key>
	<dict>
		<key>CLICK</key>
		<string>Click.caf</string>
		<key>COLLIDE_1</key>
		<string>Collide1-2.caf</string>
		<key>COLLIDE_2</key>
		<string>Collide4-2.caf</string>
		<key>COLLIDE_3</key>
		<string>Collide5-2.caf</string>
		<key>COLLIDE_4</key>
		<string>Collide1-3.caf</string>
		<key>EXPLODE_1</key>
		<string>Explode1.caf</string>
		<key>EXPLODE_2</key>
		<string>Explode2.caf</string>
		<key>EXPLODE_3</key>
		<string>Explode3.caf</string>
	</dict>
</dict>
</plist>
