<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1893},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,122}}</string>
                <key>sourceSize</key>
                <string>{100,122}</string>
            </dict>
            <key>detector.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1211,1211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1211,1211}}</string>
                <key>sourceSize</key>
                <string>{1211,1211}</string>
            </dict>
            <key>firebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1215},{409,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,408}}</string>
                <key>sourceSize</key>
                <string>{409,408}</string>
            </dict>
            <key>graph.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2011},{10,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,40}}</string>
                <key>sourceSize</key>
                <string>{10,40}</string>
            </dict>
            <key>lhcmap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1215},{794,712}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,712}}</string>
                <key>sourceSize</key>
                <string>{794,712}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1893},{73,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,90}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>thumbguide.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1215},{676,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,408}}</string>
                <key>sourceSize</key>
                <string>{676,408}</string>
            </dict>
            <key>white-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2011},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1893},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1Atlas-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16bef24c950ae942d3affad8ec6ce512$</string>
            <key>textureFileName</key>
            <string>scene1Atlas-ipadhd.png</string>
        </dict>
    </dict>
</plist>
