<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1847},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,122}}</string>
                <key>sourceSize</key>
                <string>{100,122}</string>
            </dict>
            <key>detector.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1211,1211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1211,1211}}</string>
                <key>sourceSize</key>
                <string>{1211,1211}</string>
            </dict>
            <key>firebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1608},{237,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,236}}</string>
                <key>sourceSize</key>
                <string>{237,236}</string>
            </dict>
            <key>graph.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2019},{12,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,40}</string>
            </dict>
            <key>lhcmap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1215},{802,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{802,720}}</string>
                <key>sourceSize</key>
                <string>{802,720}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1971},{73,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,90}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>thumbguide.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1215},{391,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,236}}</string>
                <key>sourceSize</key>
                <string>{391,236}</string>
            </dict>
            <key>white-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1977},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1847},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1Atlas-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c5868842c5d62d6351571727326d46f$</string>
            <key>textureFileName</key>
            <string>scene1Atlas-ipadhd.png</string>
        </dict>
    </dict>
</plist>
