<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facebook-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>title-flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{862,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{862,159}}</string>
                <key>sourceSize</key>
                <string>{862,159}</string>
            </dict>
            <key>title-glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{945,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{945,242}}</string>
                <key>sourceSize</key>
                <string>{945,242}</string>
            </dict>
            <key>title-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{808,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,104}}</string>
                <key>sourceSize</key>
                <string>{808,104}</string>
            </dict>
            <key>twitter-bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,126},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>twitter-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>titleAtlas-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:091b1698354beac660eaea3fc7bf177c$</string>
            <key>textureFileName</key>
            <string>titleAtlas-hd.png</string>
        </dict>
    </dict>
</plist>
