<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title-flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{431,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,79}}</string>
                <key>sourceSize</key>
                <string>{431,79}</string>
            </dict>
            <key>title-glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,121}}</string>
                <key>sourceSize</key>
                <string>{473,121}</string>
            </dict>
            <key>title-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{404,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,52}}</string>
                <key>sourceSize</key>
                <string>{404,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>titleAtlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:150c3fdc3b6b73cbbe00827fd516fb26$</string>
            <key>textureFileName</key>
            <string>titleAtlas.png</string>
        </dict>
    </dict>
</plist>
